<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="nav">
    <div class="leftside"><span id=logo>ALPHA HEALTH SYSTEM</span></div>
    {% block nav %}{% endblock %}
  </div>
  <header>
    {% block header %}
      <div class="leftside">
      {% block search %}{% endblock %}
      </div>
      <div class="rightside">
        <div class="content">
        {% block table %}{% endblock %}
        </div>
      </div>
    {% endblock %}
  </header>
</body>
</html>