{% extends 'base.html' %}

{% block title %}Facilities{% endblock %}

{% block nav %}
  <div class="rightside">
    <ul class="menu">
      <li><a href="/">HOME / CLAIMS</a></li>
      <li><a href="/patients">PATIENTS</a></li>
      <li><a href="/providers">PROVIDERS</a></li>
      <li id=current><a href="/facilities">FACILITIES</a></li>
      <li><a href="/patientsProviders">PATIENTS AND PROVIDERS</a></li>
      <li><a href="/facilitiesProviders">FACILITIES AND PROVIDERS</a></li>
    </ul>
  </div>
{% endblock %}

{% block search %}
  <form action="/facilities" method="POST">
    <input class="button" type="submit" value="SEARCH">
    <input class="button" type="reset" value="RESET">
      <ul class="search">
        <input type="hidden" id="search" name="search">
        <li>
          <label for="facilityID">facilityID</label>
        </li>
        <li>
          <input type="number" id="facilityID" name="facilityID">
        </li><br>
        <li>
          <label for="facilityAddress">facilityAddress</label>
        </li>
        <li>
          <input type="text" id="facilityAddress" name="facilityAddress">
        </li><br>
        <li>
          <label for="facilityCity">facilityCity</label>
        </li>
        <li>
          <input type="text" id="facilityCity" name="facilityCity">
        </li><br>
        <li>
          <label for="facilityState">facilityState</label>
        </li>
        <li>
          <input type="text" id="facilityState" name="facilityState">
        </li><br>
        <li>
          <label for="facilityZip">facilityZip</label>
        </li>
        <li>
          <input type="text" id="facilityZip" name="facilityZip">
        </li><br>
      </ul>
  </form>
{% endblock %}

{% block table %}
  <table id="table">
    <thead>
      <tr>
        <th>facilityID</th>
        <th><span class="must">* </span>facilityAddress</th>
        <th><span class="must">* </span>facilityCity</th>
        <th><span class="must">* </span>facilityState</th>
        <th><span class="must">* </span>facilityZip</th>
        <th><span class="must">* must be filled</span></th>
      </tr>
    </thead>
    <tbody>
      <tr id="add">
        <form action="/facilities" method="POST">
          <td>
            <input type="hidden" id="addrow" name="addrow">
          </td>
          <td>
            <input type="text" required="required" id="facilityAddress" name="facilityAddress">
          </td>
          <td>
            <input type="text" required="required" id="facilityCity" name="facilityCity">
          </td>
          <td>
            <input type="text" required="required" id="facilityState" name="facilityState">
          </td>
          <td>
            <input type="text" required="required" id="facilityZip" name="facilityZip">
          </td>
          <td>
            <input class="button" type="submit" value="ADD">
          </td>
        </form>
      </tr>
      <div class="show">
        {% for r in rows %}
          <tr>
          <form id="row{{loop.index}}" action="/facilities" method="POST">
            <td><input type="number" id="facilityID" name="facilityID" value="{{ r[0] }}" disabled ></td>
            <td><input type="text" id="facilityAddress" name="facilityAddress" value="{{ r[1] }}" disabled></td>
            <td><input type="text" id="facilityCity" name="facilityCity" value="{{ r[2] }}" disabled></td>
            <td><input type="text" id="facilityState" name="facilityState" value="{{ r[3] }}" disabled></td>
            <td><input type="text" id="facilityZip" name="facilityZip" value="{{ r[4] }}" disabled></td>
            <td><input id="{{loop.index}}" class="button" type="button" name="seeProvider" value="See Provider" onclick="editClick(event)"></td>
            <td><input id="{{loop.index}}" class="button" type="button" name="edit" value="Edit" onclick="editClick(event)"></td>
            <td><input id="{{loop.index}}" class="button" type="button" name="delete" value="Delete" onclick="editClick(event)"></td>
          </form>
          </tr>
        {% endfor %}
      </div>
    </tbody>
  </table>
{% endblock %}