{% extends 'base.html' %}

{% block title %}Home / Claims{% endblock %}

{% block nav %}
  <div class="rightside">
    <ul class="menu">
      <li id=current><a href="/">HOME / CLAIMS</a></li>
      <li><a href="/patients">PATIENTS</a></li>
      <li><a href="/providers">PROVIDERS</a></li>
      <li><a href="/facilities">FACILITIES</a></li>
      <li><a href="/patientsProviders">PATIENTS AND PROVIDERS</a></li>
      <li><a href="/facilitiesProviders">FACILITIES AND PROVIDERS</a></li>
    </ul>
  </div>
{% endblock %}

{% block search %}
  <form action="/" method="POST">
    <input class="button" type="submit" value="SEARCH">
    <input class="button" type="reset" value="RESET">
        <ul class="search">  <li>
          <input type="hidden" id="search" name="search">
          <li>
            <label for="claimID">claimID</label>
          </li>
          <li>
            <input type="number" id="claimID" name="claimID">
          </li><br>
          <li>
            <label for="patientID">patientID</label>
          </li>
          <li>
            <input type="number" id="patientID" name="patientID">
          </li><br>
          <li>
            <label for="patProvID">patProvID</label>
          </li>
          <li>
            <input type="number" id="patProvID" name="patProvID">
          </li><br>
          <li>
            <label for="provFacID">provFacID</label>
          </li>
          <li>
            <input type="number" id="provFacID" name="provFacID">
          </li><br>
          <li>
            <label for="dateOfService">dateOfService</label>
          </li>
          <li>
            <input type="date" id="dateOfService" name="dateOfService">
          </li>
          <li>
            <label for="procedure">procedureDesc</label>
          </li>
          <li>
            <input type="text" id="procedureDesc" name="procedureDesc">
          </li><br>
          <li>
            <label for="billedAmount">billedAmount</label>
          </li>
          <li>
            <input type="number" id="billedAmount" name="billedAmount ">
          </li><br>
        </ul>
  </form>
{% endblock %}

{% block table %}
  <table id="table">
    <thead>
      <tr>
        <th>claimID</th>
        <th><span class="must">* </span>patientID</th>
        <th>patProvID</th>
        <th>provFacID</th>
        <th><span class="must">* </span>dateOfService</th>
        <th><span class="must">* </span>procedure</th>
        <th><span class="must">* </span>billedAmount</th>
        <th><span class="must">* must be filled</span></th>
      </tr>
    </thead>
    <tbody>
      <tr id="add">
        <form method="POST">
          <input type="hidden" id="addrow" name="addrow">
          <td>
            <input type="hidden" id="claimID" name="claimID">
          </td>
          <td>
            <input type="number" id="patientID" name="patientID">
          </td>
          <td>
            <input type="number" id="patProvID" name="patProvID">
          </td>
          <td>
            <input type="number" id="provFacID" name="provFacID">
          </td>
          <td>
            <input type="date" id="dateOfService" name="dateOfService">
          </td>
          <td>
            <input type="text" id="procedureDesc" name="procedureDesc">
          </td>
          <td>
            <input type="number" id="billedAmount" name="billedAmount">
          </td>
          <td>
            <input class="button" type="submit" value="ADD">
          </td>
        </form>
      </tr>
      <div class="show">
      {% for claim in claims %}
        <tr>
          <form id="row{{loop.index}}" action="/" method="POST">
            <td><input type="number" id="claimID" name="claimID" value="{{ claim [0] }}" disabled></td>
            <td><input type="number" id="patientID" name="patientID" value="{{ claim [1] }}" disabled></td>
            <td><input type="text" id="patProvID" name="patProvID" value="{{ claim [2] }}" disabled></td>
            <td><input type="text" id="provFacID" name="provFacID" value="{{ claim [3] }}" disabled></td>
            <td><input type="date" id="dateOfService" name="dateOfService" value="{{ claim [4] }}" disabled></td>
            <td><input type="text" id="procedureDesc" name="procedureDesc" value="{{ claim [5] }}" disabled></td>
            <td><input type="number" id="billedAmount" name="billedAmount" value="{{ claim[6] }}" disabled></td>
            <td><input id="{{loop.index}}" class="button" type="submit" name="edit" value="Edit" onclick="editClick(event)"></td>
            <td><input id="{{loop.index}}" class="button" type="submit" name="delete" value="Delete" onclick="editClick(event)"></td>
          </form>
        </tr>
      {% endfor %}
      </div>
    </tbody>
  </table>
{% endblock %}
