{% extends 'base.html' %}

{% block title %}Patients{% endblock %}

{% block nav %}
  <div class="rightside">
    <ul class="menu">
      <li><a href="/">HOME / CLAIMS</a></li>
      <li id=current><a href="/patients">PATIENTS</a></li>
      <li><a href="/providers">PROVIDERS</a></li>
      <li><a href="/facilities">FACILITIES</a></li>
      <li><a href="/patientsProviders">PATIENTS AND PROVIDERS</a></li>
      <li><a href="/facilitiesProviders">FACILITIES AND PROVIDERS</a></li>
    </ul>
  </div>
{% endblock %}

{% block search %}
  <form action="/patients" method="POST">
    <input class="button" type="submit" value="SEARCH">
    <input class="button" type="reset" value="RESET">
      <ul class="search">
        <input type="hidden" id="search" name="search">
        <li>
          <label for="patientID">patientID</label>
        </li>
        <li>
          <input type="number" id="patientID" name="patientID">
        </li><br>
        <li>
          <label for="firstName">firstName</label>
        </li>
        <li>
          <input type="text" id="firstName" name="firstName">
        </li><br>
        <li>
          <label for="lastName">lastName</label>
        </li>
        <li>
          <input type="text" id="lastName" name="lastName">
        </li><br>
        <li>
          <label for="age">age</label>
        </li>
        <li>
          <input type="number" id="age" name="age">
        </li><br>
        <li>
          <label for="gender">gender</label>
        </li>
        <li>
          <select id="gender" name="gender">
              <option value=""></option>
            <option value="m">male</option>
            <option value="f">female</option>
          </select>
        </li>
        <li>
          <label for="phoneNumber">phoneNumber</label>
        </li>
        <li>
          <input type="text" id="phoneNumber" name="phoneNumber">
        </li>
      </ul>
  </form>
{% endblock %}

{% block table %}
  <table id="table">
    <thead>
      <tr>
        <th>patientID</th>
        <th><span class="must">* </span>firstName</th>
        <th><span class="must">* </span>lastName</th>
        <th>age</th>
        <th>gender</th>
        <th>phoneNumber</th>
        <th>email</th>
        <th><span class="must">* must be filled</span></th>
      </tr>
    </thead>
    <tbody>
      <tr id="add">
        <form method="post" action="patients">
          <input type="hidden" id="addrow" name="addrow">
          <td>
            <input type="hidden" id="patientID" name="patientID">
          </td>
          <td>
            <input type="text" id="firstName" name="firstName">
          </td>
          <td>
            <input type="text" id="lastName" name="lastName">
          </td>
          <td>
            <input type="number" id="age" name="age">
          </td>
          <td>
            <select id="gender" name="gender">
              <option value="m">male</option>
              <option value="f">female</option>
            </select>
          </td>
          <td>
            <input type="text" id="phoneNumber" name="phoneNumber">
          </td>
          <td>
            <input type="email" id="email" name="email">
          </td>
          <td>
            <input class="button" type="submit" value="ADD">
          </td>
        </form>
      </tr>
      <div class="show">
      {% for patient in patients %} 
        <tr>
          <form method="post" action="/patients">
            <td><input type="number" id="patientID" name="patientID" value={{patient[0]}} readonly></td>
            <td><input type="text" id="firstName" name="firstName" value="{{patient[1]}}"></td>
            <td><input type="text" id="lastName" name="lastName" value="{{patient[2]}}"></td>
            <td><input type="number" id="age" name="age" value={{patient[3]}}></td>
            <td>
                <select id="gender" name="gender">
                  <option {% if patient[4] == "M" %} selected {% endif %} value="m">male</option>
                  <option {% if patient[4] == "F" %} selected {% endif %} value="f">female</option>
                </select>
            </td>
            <td><input type="text" id="phoneNumber" name="phoneNumber" value="{{patient[5]}}"></td>
            <td><input type="email" id="email" name="email" value="{{patient[6]}}"></td>
            <td><input class="button" type="submit" name="seeProvider" value="See Provider"></td>
            <td><input class="button" type="submit" name="edit" value="Edit"></td>
            <td><input class="button" type="submit" name="delete" value="Delete"></td>
          </form>
        </tr>
      {% endfor %}
      </div>
    </tbody>
  </table>
{% endblock %}
