{% extends 'base.html' %}

{% block title %}Providers{% endblock %}

{% block nav %}
  <div class="rightside">
    <ul class="menu">
      <li><a href="/">HOME / CLAIMS</a></li>
      <li><a href="/patients">PATIENTS</a></li>
      <li id=current><a href="/providers">PROVIDERS</a></li>
      <li><a href="/facilities">FACILITIES</a></li>
      <li><a href="/patientsProviders">PATIENTS AND PROVIDERS</a></li>
      <li><a href="/facilitiesProviders">FACILITIES AND PROVIDERS</a></li>
    </ul>
  </div>
{% endblock %}

{% block search %}
  <form action="/providers" method="POST">
    <input class="button" type="submit" value="SEARCH">
    <input class="button" type="reset" value="RESET">
      <ul class="search">
          <input type="hidden" id="search" name="search">
        <li>
          <label for="provID">provID</label>
        </li>
        <li>
          <input type="number" id="provID" name="provID">
        </li><br>
        <li>
          <label for="provFirstName">provFirstName</label>
        </li>
        <li>
          <input type="text" id="provFirstName" name="provFirstName">
        </li><br>
        <li>
          <label for="provLastName">provLastName</label>
        </li>
        <li>
          <input type="text" id="provLastName" name="provLastName">
        </li><br>
        <li>
          <label for="provSpecialty">provSpecialty</label>
        </li>
        <li>
          <input type="text" id="provSpecialty" name="provSpecialty">
        </li><br>
      </ul>
  </form>
{% endblock %}

{% block table %}
  <table id="table">
    <thead>
      <tr>
        <th>provID</th>
        <th><span class="must">* </span>provFirstName</th>
        <th><span class="must">* </span>provLastName</th>
        <th><span class="must">* </span>provSpecialty</th>
        <th><span class="must">* must be filled</span></th>
      </tr>
    </thead>
    <tbody>
      <tr id="add">
        <form action="/providers" method="POST">
          <td>
            <input type="hidden" id="addrow" name="addrow">
          </td>
          <td>
            <input type="text" required="required" id="provFirstName" name="provFirstName">
          </td>
          <td>
            <input type="text" required="required" id="provLastName" name="provLastName">
          </td>
          <td>
            <input type="text" required="required" id="provSpecialty" name="provSpecialty">
          </td>
          <td>
            <input class="button" type="submit" value="ADD">
          </td>
        </form>
      </tr>
      <div class="show">
        {% for r in rows %}
          <tr>
          <form action="/providers" method="POST">
            <td><input type="number" id="provID" name="provID" value="{{ r[0] }}" readonly></td>
            <td><input type="text" id="provFirstName" name="provFirstName" value="{{ r[1] }}"></td>
            <td><input type="text" id="provLastName" name="provLastName" value="{{ r[2] }}"></td>
            <td><input type="text" id="provSpecialty" name="provSpecialty" value="{{ r[3] }}"></td>
            <td><input class="button" type="submit" name="seePatient" value="See Patient"></td>
            <td><input class="button" type="submit" name="edit" value="Edit"></td>
            <td><input class="button" type="submit" name="delete" value="Delete"></td>
          </form>
          </tr>
        {% endfor %}
      </div>
    </tbody>
  </table>
{% endblock %}